<div id="toolbar" class="no_select">
  <div id="logo">Draw like a Narwhal</div>
  <div id="tool_select_wrap">
    <div id="pencil_select" class="tool_select active" data-type="pencil">
      <span>Pencil</span>
    </div>
    <div id="eraser_select" class="tool_select" data-type="eraser">
      <span>Eraser</span>
    </div>
    <div id="line_select" class="tool_select" data-type="line">
      <span>Line</span>
    </div>
    <div id="stroke_width_select" class="width_select" data-type="stroke_width">
      <span id="mini_stroke_example"></span>
      <span>Width</span>
    </div>
  </div>
  <% if presentation %>
    <div id="share_link"><%=short_presentation_url(presentation)%></div>
      <div id="allow_collaberation_wrap">
        <% if created_presentations.include? presentation.permalink %>
          <p>Collaboration</p>
          <div id="collaboration_switch"></div>
        <% else %>
          <span id="collaberation_enabled_disabled">Collaberation <span id="on_off"><%= troolean presentation.collaberation_on, :true => "On", :false => "Off" %></span></span>
        <% end %>
      </div>
  <% else %>
    <%= form_tag do %>
      <%= submit_tag("Start A Class Now!", :id => "start_a_class") %>
    <% end %>
  <% end %>
  <div id="links">
    <a href="#">Contact</a> |
    <a href="#">Blog</a>
  </div>
</div>
<div id="tool_pallet">
  <div id="stroke_width_slider_wrap">
    <div id="stroke_example"></div>
    <div id="stroke_width_slider"></div>
  </div>
</div>
