<div i="tool_container">
  <select id="tool" name="tool">
    <option value="pencil">Pencil</option>
    <option value="rectangle">Rectangle</option>
    <option value="line">Line</option>
    <option value="circle">Circle</option>
    <option value="eraser">Eraser</option>
  </select>
  <div>
    <div id="color_selector">
      <div style="background-color: #000"></div>
    </div>
  </div>
  <% if presentation.blank? %>
    <button id="create_presentation">Create Presentation</button>
  <% end %>
  <div id="line_width">
    <label for="width"></label>
    <select id="width" name="width">

    </select>
</div>