<div id="toolbar">
  <div id="logo">Draw like a Narwhal</div>
  <a id="survey_button" href="/survey">take the survey now</a>
  <div id="tool_select_wrap">
    <div id="pencil_select" class="tool_select active"><span>Pencil</span></div>
    <div id="eraser_select" class="tool_select"><span>Eraser</span></div>
  </div>
  <div id="links">
    <a href="#">Contact</a> | 
    <a href="#">Blog</a>
  </div>
</div>
