<div i="tool_container">
  <a href="https://docs.google.com/spreadsheet/viewform?formkey=dC1aa01TbkszUHAySmdobTgydkx3NWc6MQ">Survey Link</a>
  <select id="tool" name="tool">
    <option value="pencil">Pencil</option>
    <option value="eraser">Eraser</option>
  </select>
  <!--  
  <div>
    <div id="color_selector">
      <div style="background-color: #000"></div>
    </div>
  </div>
  <% if presentation.blank? %>
    <button id="create_presentation">Create Presentation</button>
  <% end %>
  <div id="line_width">
    <label for="width"></label>
    <select id="width" name="width">

    </select>
  </div>
  -->
</div>
