<section id="index-page">
  <section id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="span4">Logo</div>
        <div id="button-wrapper" class="offset4 span8">
          <a href='#' class="btn large primary">
            Start A Classroom
          </a>
          <a href='#' class="btn large success">
            <span class="middle">
              Login/Signup
              <br>
              Google
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div id="main">
      <div class="row">
        <div class="span8">
          <h2>Malesuada Egestas Etiam</h2>
          <p>
            Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
        <div class="span8">
          <img src="images/video-stub.png">
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
      </div>
      <div class="row">
        <div class="span-one-third">
          <h3>Magna</h3>
          <p>
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="span-one-third">
          <h3>Vehicula</h3>
          <p>
            Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="span-one-third">
          <h3>Ornare</h3>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum.
          </p>
        </div>
      </div>
      <div id="footer" class="row">
        <div id="footer-logo" class="span4">
          Footer Logo
        </div>
        <div class="span4">
          <h4>Ultricies</h4>
          <ul class="unstyled">
            <li>Ornare Ridiculus Inceptos</li>
            <li>Justo Sit</li>
            <li>Cras Magna Amet Ligula</li>
            <li>Inceptos Pellentesque</li>
          </ul>
        </div>
        <div class="span4">
          <h4>Ultricies</h4>
          <ul class="unstyled">
            <li>Ornare Ridiculus Inceptos</li>
            <li>Justo Sit</li>
            <li>Cras Magna Amet Ligula</li>
            <li>Inceptos Pellentesque</li>
          </ul>
        </div>
        <div class="span4">
          <h4>Ultricies</h4>
          <ul class="unstyled">
            <li>Ornare Ridiculus Inceptos</li>
            <li>Justo Sit</li>
            <li>Cras Magna Amet Ligula</li>
            <li>Inceptos Pellentesque</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
