// Place all the styles related to the presentation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#presentations {

  .no_select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  #content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #drawing {
    position: absolute;
    left: 0px;
    z-index: 10;
  }

  #live_canvas {
    left: 0px;
    position:absolute;
    z-index: 5;
    background: #f3f3f3;
  }

  #container {
    left: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 100px;
  }

  #toolbar {
    background: url(/images/background.jpg) repeat-x;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

  }

  #start_a_class {
    border: none;
    display: block;
    background: url(/images/survey-button.png);
    height: 99px;
    width: 160px;
    top: -34px;
    z-index: 10px;
    position: absolute;
    right: 30%;
    text-indent: -999px;

    -webkit-transition: -webkit-transform .3s ease, box-shadow .3s ease;
    -moz-transition: -moz-transform .3s ease box-shadow .3s ease;

    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);

    &:hover {
      cursor: pointer;
      -moz-box-shadow: 15px 15px 7px #888;
      -webkit-box-shadow: 15px 15px 7px #888;
      box-shadow: 15px 15px 7px #888;
      -webkit-transform: rotateX(3deg) scale(1.05);
      -moz-transform: rotateX(3deg) scale(1.05);
    }
  }

  #logo {
    width: 200px;
    height: 100px;
    background: url(/images/logo.jpg);
    text-indent: -999px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #links {
    position: absolute;
    right: 40px;
    top: 35px;
    a {
      color: #444444;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
    }
  }

  #slides_container {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 100px;
    bottom: 0px;
    height: 100%;
    width: 215px;
  }

  .tool_select {
    cursor: pointer;
    height: 60px;
    min-width: 80px;
    border-radius: 10px;
    text-align: center;
    vertical-align: bottom;
    background: #c0c0c0;
    border: #c6c6c6 1px solid;

    span, & {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 20px;
      color: white;
      margin: auto;
      vertical-align: middle;
    }

    &:hover, &.active {
      background: #969696;
      border: #c6c6c6 1px solid;

      span {
        bottom: 8px;
        left: 22px;
      }
    }
  }

  #pencil_select {
    position: absolute;
    left: 210px;
    top: 20px;
  }

  #eraser_select {
    position: absolute;
    left: 310px;
    top: 20px;

  }

  #show_link {
    position: absolute;
    left: 610;
    height: 60px;
    width: 80px;
    cursor: pointer;
    background: #c0c0c0;
  }

  #line_select {
    position: absolute;
    left: 410px;
    top: 20px;
  }

  #stroke_width_select {
    cursor: pointer;
    position: absolute;
    left: 510px;
    top: 20px;
    height: 22px;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
    background: #c0c0c0;
    border: #c6c6c6 1px solid;

    &:hover {
      background: #969696;
      border: #c6c6c6 1px solid;
    }

    #mini_stroke_example {
      position: absolute;
      left: 15px;
      top: -1px;
    }

    span {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 20px;
      margin-bottom: 2px;
      color: white;
      margin: auto;
      vertical-align: middle;
    }
  }

  #allow_collaberation_wrap {
    position: absolute;
    left: 510px;
    height: 22px;
    top: 51px;
    background: silver;
    border: #C6C6C6 1px solid;
    border-radius: 5px;
  }

  #notice {
    z-index:100;
    background: #F3E71A;
    color: black;
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    -webkit-transform: rotate(-22deg);
    box-shadow: 10px 10px 10px #888;
  }

  #ribbon {
    z-index: 1000;
    background: #E60039 ;
    color: white;
    padding: 3px 100px;
    position: absolute;
    right: -90px;
    top: 90px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-size: 20px;
    border-top: 4px #AB002C solid;
    background-image: -moz-linear-gradient(left, #e60039 50%, #a8002a 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, from(#e60039), to(#a8002a));
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    a {
      color: white;
      text-decoration: none;
    }
  }

  #tool_pallet {
    display: none;
    position: relative;
    background: #c4c4c4;
    border-left: 3px #9b9b9b solid;
    border-right: 3px #9b9b9b solid;
    border-bottom: 3px #9b9b9b solid;
    border-radius: 0px 0px 15px 15px;
    width: 80%;
    margin: auto;
    height: 100px;
    z-index: 15;
    top: 100px;
  }

  #stroke_width_slider_wrap {
    margin: auto;
  }

  #stroke_example {
    position: absolute;
    height: 21px;
    width: 100px;
    top: 33px;
    left: 10%;
  }

  #stroke_width_slider {
    position: absolute;
    left: 30%;
    top: 33px;
    width: 60%;
  }
}
