// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#users {
  .presentation_wrapper {
    border: 1px solid black;
    background: #c0c0c0; 
    overflow: auto;
    margin-left: 50px;
    &.vertical {
      float: left;
      height: 400px;
    }

    &.horizontal {
      clear: both;
      width: 650px;
      height: 200px;
      overflow: auto;
      white-space: nowrap;
      div {
        display: inline-block;
        
        a {
          text-decoration: none;
        }
      }
    }
  }

  .mini.presentation {
    background: #f4f4f4;
    height: 150px;
    width: 200px;
    margin: 20px;
    border: 1px solid black;
  }
}
