<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js" %>
</head>
<body id="users">
  <%= yield %>
</body>
</html>
