!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"
  %body#users
    #header
      .container
        .row
          %a#logo.span4{ :href => root_path }
          = yield :buttons
    #main
      .container
        = yield
    #footer.row
      .container
        .row
          #footer-logo-wrap.span4
            #footer-logo
              Narwhal
          .span4
            %h4 Nibh
            %ul.unstyled
              %li
                Ornare
              %li
                Cursus Pellentesque
              %li
                Pellentesque Vestibulum Condimentum
              %li
                Tellus
          .span4
            %h4 Nibh
            %ul.unstyled
              %li
                Ornare
              %li
                Cursus Pellentesque
              %li
                Pellentesque Vestibulum Condimentum
              %li
                Tellus
          .span4
            %h4 Nibh
            %ul.unstyled
              %li
                Ornare
              %li
                Cursus Pellentesque
              %li
                Pellentesque Vestibulum Condimentum
              %li
                Tellus
